@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Kanit", sans-serif;
  --color-brand-light: #D7E2EA;
  --color-brand-dark: #0C0C0C;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-dark);
  color: var(--color-brand-light);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
